<div *ngFor="let setor of vagas" class="card-group">
    <button [disabled]="setor.setor_page === 1" type="button" class="btn btn-outline-primary" (click)="previousPage(setor)"><i class="fa fa-angle-left"></i></button>
    <est-card *ngFor="let v of setor.qtd_vagas | perPage : setor.qtd_vagas.length : perPage : setor.setor_page; index as i" [vaga]="v" [left]="left">
        <h5 class="card-title" header>Vaga</h5>
        <a href="#" class="card-link" body>Vazia</a>
    </est-card>
    <button [disabled]="setor.max_pages === setor.setor_page" type="button" class="btn btn-outline-primary" (click)="nextPage(setor)"><i class="fa fa-angle-right"></i></button>
</div>
