<div class=" col-12 col-md-3 col-xl-3 sticky-top float-left side-bar">
    <ul class="nav-tabs list-unstyled">
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/vagas" routerLinkActive="active">Vagas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cadastro" routerLinkActive="active">Cadastro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/quem/somos" routerLinkActive="active">Quem Somos</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/Contato" routerLinkActive="active">Contato</a>
        </li>
    </ul>
    <div class="side-bar-icon">
        <i class="fa fa-bars"></i>
    </div>
</div>
<div class="col-12 col-md-9 col-xl-9 float-rigth d-flex">
    <router-outlet></router-outlet>
</div>
